/* Write your CSS here */
.list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}
.button {
  color: #ffc2a0;
  border-color: #ffc2a0;
  background-color: transparent;
  padding: 10px;
  margin: 10px;
  border-radius: 10px;
}

p {
  color: #000000;
}
